.scenario-link-button.btn {
  padding: 0;
  font-size: 1.2em;
  text-decoration: underline;
}

div.scenario-link-right {
      margin: 10px 0 0 10px;
}

div.scenario-link-left {
      margin: 10px 10px 0 0;
}
